<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQL94Dialect
        </property>

        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost/shopcart
        </property>

        <property name="hibernate.connection.username">
            shopcart
        </property>

        <property name="hibernate.connection.password">
            shopcartpass
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>

        <mapping class="lt.academy.entities.User"/>
        <mapping class="lt.academy.entities.Cart"/>
        <mapping class="lt.academy.entities.Item"/>
    </session-factory>
</hibernate-configuration>